body {
    font-family: 'Harry Potter', sans-serif;
    font-size: larger;
    color: black;
    background-color: rgb(199, 176, 134);
    text-align: center;
   
}
@media screen and (min-width: 320px) {
    body {
      background-color: lightgreen;
    }
}
  
@media screen and (min-width: 768px) {
    body {
      background-color: rgb(92, 92, 223);
    }
}
@media screen and (min-width: 1200px) {
    body {
      background-color: rgb(223, 211, 201);
    }
}